<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deliveryman</title>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
    <h1>Welcome to deliveryman!</h1>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2>WORST Places</h2>
                <li>No.1 : My home thai bistro</li>
                <li>No.2 : My home thai bistro</li>
                <li>No.3 : My home thai bistro</li>
                <li>No.4 : My home thai bistro</li>
                <li>No.5 : My home thai bistro</li>
            </div>
            <div class="col-6">
                <h2>BEST Places</h2>
                <li>No.1 : Total wine</li>
                <li>No.2 : Total wine</li>
                <li>No.3 : Total wine</li>
                <li>No.4 : Total wine</li>
                <li>No.5 : Total wine</li>
            </div>
        </div>
        
    </div>

</body>
</html>